.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

.hero article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;

}

.hero article img {
    float: right;
    margin: 0 0 10px 10px;
    position: absolute;
    width: 20%;
    height: 200px;
    right: 0;
    padding-top: 10%;
}

.hero h1 {
    color: #333;
}

.hero img {
    display: block;
    width: 100%;
    height: 600px;

}

.hero p {
    color: #555;
}

.article {
    padding: 280px 10px;

}

